body {
    display: flex;
    flex-direction: column;
}

.row {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.container {
    display: flex;
    border: 1px solid black;
    width: fit-content;
    padding: 20px;
    margin: 20px 30px;
    flex-direction: column;
    border-radius: 10px;
    background-color: rgb(122, 233, 178);
    align-items: center;
}

.container img {
    border-radius: 8px;
}

.container a {
    font-size: 20px;
    color: #000;
    margin-top: 20px;
    text-decoration: none;
    width: fit-content;
}
.container a:hover {
    text-decoration: underline;
}
